<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.serviceModel>
<services>
  <service name="Rameshkartik.WCFSamples.SecuredMessageService.Implementation.SecuredMessageServiceImpl" behaviorConfiguration="ServBehavior" >
    <endpoint address="http://localhost:8733/Rameshkartik/WCFSamples/MessageSecurity/SecuredMessageService" binding="wsHttpBinding"  bindingConfiguration="wsHttpBindConfig"
              contract="Rameshkartik.WCFSamples.SecuredMessageService.Contracts.ISecuredMessageService">
      <identity>
        <dns value="ServiceCert"/>
      </identity>
  </endpoint>
  <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
  </service>
</services>
<bindings>
  <wsHttpBinding>
    <binding name="wsHttpBindConfig">
      <security mode="Message">
        <message clientCredentialType="UserName"/>
      </security>
    </binding>
  </wsHttpBinding>
</bindings>
<behaviors>
  <serviceBehaviors>
    <behavior name="ServBehavior">
      <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8733/Rameshkartik/WCFSamples/MessageSecurity/SecuredMessageService"/>
      <serviceDebug includeExceptionDetailInFaults="true"/>
       <serviceCredentials>
         <userNameAuthentication userNamePasswordValidationMode="Custom"  customUserNamePasswordValidatorType="Rameshkartik.WCFSamples.SecuredMessageService.Validator.CustomUsernamePwdValidator, CustomValidator" />
         <serviceCertificate findValue="ServiceCert" storeLocation="LocalMachine" storeName="TrustedPeople" 
                             x509FindType="FindBySubjectName"/>
       <clientCertificate>
         <authentication certificateValidationMode="None"/>
       </clientCertificate>
       </serviceCredentials>
    </behavior>
  </serviceBehaviors>
</behaviors>
</system.serviceModel>
</configuration>