<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="InspectorExtension" type="Rameshkartik.WCFSamples.Behaviour.BehaviorExt,ServiceInspector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Rameshkartik.WCFSamples.Routing.LoadBalancing.Implementation.RailImpl">
        <endpoint address="" binding="basicHttpBinding" contract="Rameshkartik.WCFSamples.Routing.LoadBalancing.Contracts.IRailServices"></endpoint>
        <endpoint address="PNR" binding="basicHttpBinding" contract="Rameshkartik.WCFSamples.Routing.LoadBalancing.Contracts.iPNRQueries" behaviorConfiguration="InspectorBehaviour"></endpoint>  
        <endpoint address="SeatBook" binding="basicHttpBinding" contract="Rameshkartik.WCFSamples.Routing.LoadBalancing.Contracts.iSeatBook"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8651/RailServices" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="InspectorBehaviour">
          <InspectorExtension></InspectorExtension>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
