<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="RouteBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MainRouteServer/Router"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RouteBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <routing filterTableName="RoutingInformationTable"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
    <endpoint name="PrimaryService_TcpEndPoint" address ="net.tcp://localhost:8523/PrimaryServiceLib/Service/" 
                binding="netTcpBinding" contract="*"></endpoint>
    <endpoint name="BackupService1_TcpEndPoint" address="net.tcp://localhost:8524/BackupService1/Service/" binding="netTcpBinding"
              contract="*"></endpoint>
    <endpoint name="BackupService2_TcpEndPoint" address="net.tcp://localhost:8525/BackupService2/Service/" binding="netTcpBinding"
              contract="*"></endpoint>
    </client>
    <routing>
      <filters>
        <filter name="MatchAllFilter" filterType="MatchAll"   />
      </filters>
      <filterTables>
        <filterTable name="RoutingInformationTable">
          <add filterName="MatchAllFilter" endpointName ="PrimaryService_TcpEndPoint" backupList="BackupServices"/>
        </filterTable>
      </filterTables>
    <backupLists>
      <backupList name="BackupServices">
        <add endpointName="BackupService1_TcpEndPoint"/>
        <add endpointName="BackupService2_TcpEndPoint"/>
      </backupList>
    </backupLists>
    </routing>
  </system.serviceModel>
</configuration>