<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.serviceModel>
  <services>
    <service name="Rameshkartik.WCFSamples.MessageExchangePatterns.ServiceLibrary.Implementation" behaviorConfiguration="ServBehaviour">
      <endpoint address="Duplex" binding="wsDualHttpBinding" contract="Rameshkartik.WCFSamples.MessageExchangePatterns.ServiceLibrary.ILibrary" bindingConfiguration="DualHttpConfig">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="OneWay" binding="wsHttpBinding" contract="Rameshkartik.WCFSamples.MessageExchangePatterns.ServiceLibrary.ILibrary_OneWay" bindingConfiguration="HttpBindingConfig">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="RequestReply" binding="basicHttpBinding" contract="Rameshkartik.WCFSamples.MessageExchangePatterns.ServiceLibrary.ILibrary_RequestReply" bindingConfiguration="BasicHttp">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8735/Rameshkartik/WCFSamples/MessageExchangePatterns/ServiceLibrary"/>
        </baseAddresses>
      </host>
    </service>
  </services>
  <bindings>
    <wsHttpBinding>
      <binding name="HttpBindingConfig">
      </binding>
    </wsHttpBinding>
  <wsDualHttpBinding>
    <binding name="DualHttpConfig"></binding>
  </wsDualHttpBinding>
    <basicHttpBinding>
      <binding name="BasicHttp">
      </binding>
    </basicHttpBinding>
  </bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior name="ServBehaviour">
        <serviceMetadata httpGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>
</configuration>