<configuration>
  <system.serviceModel>
    <services>
      <service name="Rameshkartik.WCFSamples.Transactions.Implementation.PurchaseImpl" behaviorConfiguration="OnlinePurchaseServiceBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="Rameshkartik.WCFSamples.Transactions.Contracts.IPurchase" bindingConfiguration="wshttpbind">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Rameshkartik/WCFSamples/Transactions/OnlinePurchaseService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Rameshkartik.WCFSamples.Transactions.Implementation.CardTransactionImpl" behaviorConfiguration="CardTransactionServiceBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="Rameshkartik.WCFSamples.Transactions.Contracts.ICardTransactionService" bindingConfiguration="wshttpbind" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Rameshkartik/WCFSamples/Transactions/CardTransactionService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OnlinePurchaseServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="CardTransactionServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  <bindings>
    <wsHttpBinding>
      <binding name="wshttpbind" transactionFlow="true"></binding>
    </wsHttpBinding>
  </bindings>
  </system.serviceModel>
  
    
</configuration>