<configuration>
  <system.serviceModel>
    <services>
      <service name="Rameshkartik.WCFSamples.Transactions.Implementation.PurchaseImpl">
        <endpoint address=""
                  binding="wsHttpBinding" 
                  contract="Rameshkartik.WCFSamples.Transactions.Contracts.IPurchase">
        </endpoint>
        <endpoint address="tcp"
                  binding="netTcpBinding" 
                  contract="Rameshkartik.WCFSamples.Transactions.Contracts.IPurchase">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Rameshkartik/WCFSamples/Transactions/OnlinePurchaseService"/>
            <add baseAddress="net.tcp://localhost:8734/Rameshkartik/WCFSamples/Transactions/OnlinePurchaseService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"></add>
      <add scheme="tcp" binding="netTcpBinding"></add>
      <add scheme="net" binding="netHttpBinding"></add>
    </protocolMapping>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceMetadata httpGetEnabled="true"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>    
</configuration>
