<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.Implementation"
               behaviorConfiguration="ServBehaviour">
        
        <endpoint address="" binding="netTcpBinding"
                  bindingConfiguration="BindConfig"
                  contract="ServiceLibrary.ILibrary">
          <identity>
            <dns value="localhost"></dns>
          </identity>
        </endpoint>

        <endpoint address="mex"
                  binding="mexTcpBinding"
                  bindingConfiguration=""
                  name="mexTcpBindingEndPoint"
                  contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://MyTCPHost:808/Service.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehaviour">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="BindConfig" portSharingEnabled="True"></binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
     <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
