<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRailServices" />
                <binding name="BasicHttpBinding_iPNRQueries" />
                <binding name="BasicHttpBinding_iSeatBook" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/LoadBalancer/Route" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRailServices" contract="LoadBalancerRef.IRailServices"
                name="BasicHttpBinding_IRailServices" />
            <endpoint address="http://localhost:8081/LoadBalancer/Route" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_iPNRQueries" contract="LoadBalancerRef.iPNRQueries"
                name="BasicHttpBinding_iPNRQueries" />
            <endpoint address="http://localhost:8081/LoadBalancer/Route"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iSeatBook"
                contract="LoadBalancerRef.iSeatBook" name="BasicHttpBinding_iSeatBook" />
        </client>
    </system.serviceModel>
</configuration>