<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name ="Rameshkartik.WCFSamples.SecuredMessageService.Implementation.ISecuredMessageServiceImpl" behaviorConfiguration="ServiceCredentialBehavior">
        <endpoint address="http://localhost:8733/Rameshkartik/WCFSamples/SecuredMessageService" binding="wsHttpBinding"  bindingConfiguration="UsernameasMessage"
                  behaviorConfiguration="endpointBehavior"
                  contract="Rameshkartik.WCFSamples.SecuredMessageService.Contracts.ISecuredMessageService">
          <identity>
            <dns value="WCFServer"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Rameshkartik/WCFSamples/SecuredMessageService"/>
          </baseAddresses>
        </host>
       </service>
      </services>
    <bindings>
      <wsHttpBinding>
        <binding name="UsernameasMessage">
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
          </security>
         </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors> 
        <behavior name="endpointBehavior">
          <clientCredentials>
            <clientCertificate storeLocation="CurrentUser" storeName="My" 
                                 x509FindType="FindBySubjectName" findValue="localhost"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceCredentialBehavior">
          <serviceCredentials>
            <serviceCertificate storeLocation="CurrentUser" storeName="My"
                                findValue="WCFServer" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="Rameshkartik.WCFSamples.SecuredMessageService.Implementation.MyCustomUserNamePasswordValidator,SecuredMessageService"/>
            
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 </configuration>
